os:
  - linux
sudo: false
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - libstdc++6
      - fonts-droid-fallback
before_script:
  - git clone https://github.com/flutter/flutter.git -b stable --depth 1
  - ./flutter/bin/flutter doctor
script:
  - cd packages/golden_toolkit
  - ../../flutter/bin/flutter analyze
  - ../../flutter/bin/cache/dart-sdk/bin/dart format lib --set-exit-if-changed
  - ../../flutter/bin/flutter test --coverage --coverage-path=lcov.info
  - cd example
  - ../../../flutter/bin/flutter analyze
  - ../../../flutter/bin/flutter test
  - cd ../../given_when_then
  - ../../flutter/bin/flutter analyze
  - ../../flutter/bin/cache/dart-sdk/bin/dart format lib --set-exit-if-changed
  - ../../flutter/bin/flutter test --coverage --coverage-path=lcov.info
  - cd ../page_object
  - ../../flutter/bin/flutter analyze
  - ../../flutter/bin/cache/dart-sdk/bin/dart format lib --set-exit-if-changed
  - ../../flutter/bin/flutter test --coverage --coverage-path=lcov.info
after_success:
  - bash <(curl -s https://codecov.io/bash)
cache:
  directories:
    - ï¼„HOME/.pub-cache